@font-face {
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 400;
    src: local('Istok Web Regular'), local('IstokWeb-Regular'), url(/assets/fonts/IstokWeb-Regular.ttf) format('truetype');
  }
@font-face {
font-family: 'Istok Web';
font-style: normal;
font-weight: 700;
src: local('Istok Web Bold'), local('IstokWeb-Bold'), url(/assets/fonts/IstokWeb-Bold.ttf) format('truetype');
}

body{
	font-family: 'Istok Web';
	font-size: 16px;
	color:#5a5a5a;
}
a,button, input[type="button"], input[type="submit"]{
	transition:all 0.2s ease;
}
a:hover, button:hover, input[type="button"]:hover, input[type="submit"]:hover{
	transition:all 0.2s ease;
}
.top-orange{
	background:#ffa77a;
	padding:0px 30px;
}
.top-orange a{
	float:right;
	color:white;
	text-transform: uppercase;
	padding:4px 10px;
}
.top-orange a:hover{
	color:#ffffff;
	background: #000000;
	text-decoration: none;
}

img.logo-responsive{
	width:100%;
}

.head-row{
	height:100px;
    color: #000;
}

.top-menu{
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	padding:10px 0;
	margin:0 0 10px 0;
}
.cat-menu .dropdown-menu{
	background-color: #ffa77a!important;
	border-style: none;
	border-width: 0;
	padding-left:10px;
}
.cat-menu .dropdown-menu a:hover{
	background: #ffa77a;
	color:white;
}

@media screen and (max-width: 768px){
    .top-menu{
        background: #ffa77a;
	}
	.top-menu a{
		color:white!important;
	}
	.top-menu #navbarSupportedContent a:hover{
		color:white!important;
	}
    .navbar{
        margin-left:0px!important;
    }
}
@media screen and (min-width: 768px){
	.cat-menu{
		display:none;
	}
}

.horizontal-menu{
	margin:4px 0 0 0;
	padding:0;
}
.horizontal-menu li{
	list-style: none;
	float: left;
	margin:0 3px;
}
.horizontal-menu li a, .navbar li a{
	color: #5a5a5a;
	text-transform: uppercase;
	padding: 0.5rem 0.5rem 0.2rem 0.5rem!important;
	letter-spacing: 0.5px;
	text-decoration: none;
}
.horizontal-menu li a:hover, .navbar li a:hover{
	color: #ffa77a!important;
}

.navbar{
    padding:0;
    margin-left:-30px;
}

.sidebar-block{

}
.sidebar-block h2{
	font-size: 1.25rem;
	font-weight: bold;
	word-wrap: break-word;
	display: block;
	color: #333333;
	text-transform: uppercase;
	margin: 0.5rem 1rem 1rem 0;
}

.vert-menu{
	margin: 0;
	padding: 0;
}
.vert-menu li{
	list-style: none;
	padding:5px 0;
}
.vert-menu li a{
	padding: 0.45rem 0;
	color: #5a5a5a;
	text-decoration: none;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	line-height: 1rem;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}
.vert-menu li a:hover{
	color: #ffa77a;
}

.search-form{
	float:right;
	display:flex;
    flex-basis:auto;
    align-items:center;
}
.search-form input:focus, .search-form button:focus{
    outline:none;
}
.search-form input[type="search"]{
	border:1px solid #cccccc;
	border-radius:15px;
	padding:4px 15px;
}
.search-form input[type="submit"]{

}
.search-form input[type="submit"]:before{

}
.search-form button{
	border:none;
	border-radius:0 15px 15px 0;
	background: none;
	margin-left: -31px;
	color:#ffa77a;
	width:32px;
	padding:4px;
}
.search-form button:hover{
	color:#ffffff;
	background: #ffa77a;
	cursor: pointer;
}

.nav .nav-link{
	color:#333333;
	text-transform: uppercase;
	font-size: 1.2rem;
	border-radius: 0;
	padding:0;
	margin:10px;
}
.nav .nav-link.active{
	color:#ffa77a;
	background: none;
	border-bottom:1px solid #ffa77a;
	
}

/* cart */
.cart-row{
    min-height: 150px;
    border-bottom: 1px dashed #ddd;
}
.cart-header{
    font-weight: 600;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.add-to-cart button{
    background: #999999;
    color: #ffffff;
    border-radius:20px;
    padding:5px 15px;
    border:1px solid #999;
    cursor: pointer;
    margin:10px 0 5px 0;
    display:block;
    outline:none;
}
.add-to-cart button:hover{
    background: #ffa77a;
    border-color: #ffa77a;
}
.top-cart a{
    color:#666;
}
.top-cart a:hover{
    color: #ffa77a;
    text-decoration:none;
}
i.fas.fa-shopping-cart{
    border:1px solid #ffa77a;
    color: #ffa77a;
    padding:8px;
    border-radius:10px;
    transition:all 1s ease;
}
.top-cart:hover i.fas.fa-shopping-cart{
    border-radius:25px;
    transition:all 1s ease;
}
.item-sizes{
    list-style:none;
    margin:0;
    padding:0;
}
.item-sizes li{
    
    display:block;
    float:left;
}
.item-sizes input{
    display:none;
}
.item-sizes label{
    padding:5px 10px;
    margin-right:10px;
    border:1px solid #ffa77a;
    border-radius:5px;
    cursor:pointer;
    user-select:none;
}
.item-sizes input:checked + label{
    border:1px solid #cca77a;
    background: #ffa77a;
    color:white;
    box-shadow: inset 1px 1px 1px #666;
}

.cart-counter{
	border-radius:3px;
	padding:3px 8px;
	width:210px;
	border:1px solid #fff;
}
.cart-counter.focused, .cart-counter:hover{
	border:1px solid #ccc;
}
.cart-counter i{
	cursor:pointer;
	width:0;
	visibility:hidden;
}
.cart-counter input{
	width:60px;
	text-align:center;
	padding:0;
	border:none;
}
.cart-counter button{
	font-size:80%;
	padding:0 3px;
	visibility:hidden;
}
.cart-counter.focused button{
	visibility: visible;
}
.footer{
	background: #ffa77a;
	color: #ffffff;
}
.footer a{
    color: #ffffff;
}
.footer .footer-menu{
    border-bottom:1px solid #ccc;
    padding:10px 0;
}
.footer .footer-menu a{
    color:#ffffff;
    margin: 0 20px 0 0;
}

table#flex1 tr.status-row-executed td, table tr.status-row-executed td{
    background-color: rgb(199, 255, 199)!important;
    color: rgb(0, 80, 4);
}

i.fas.fas-shopping-cart span.badge, span.badge, span.badge{
    position:absolute;
    right:-10px;
    top:-7px;
}
i.fas.fa-shopping-cart{
    position:relative;
}